# Beschreibung
AuthType Basic 
AuthUserFile /etc/news/passwd 
AuthName "Weimarnetz Newsserver -- geschuetzer Bereich (User:freifunk Passwort:weimar)" 
<Files "post.php">
	require valid-user

#	order deny,allow
#	deny from all
#	allow from localhost
#	#satisfy any 

#	allow from all
</Files>
