{{> pre }}

{{> header }}

<div class="container">
	 
  {{{monitoring}}}
  
  <div style="text-align: center">
    <iframe id="ifrm" src="http://intercity-vpn.de/networks/ffweimar/" width="98%" scrolling="yes" marginwidth="0"
marginheight="0" frameborder="0">test</iframe>
  </div>
	 	
</div>

    	
{{> footer }}

{{> post }}
